#recipe{
    max-width: 1220px;
    margin: 150px auto 50px auto;
}

#title-recipe{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.left-text h2{
    font-size: 46px;
    letter-spacing: -1.7%;
    font-weight: 600;
}

.left-text p{
    font-size: 24px;
    font-weight: 300;
    color: #7F7D7D;
}

#title-recipe a{
    color: white;
    background-color: #F79F1A;
    padding: 20px 40px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5;
}

#title-recipe a:hover{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    background-color: #e6900f;
}

.cards{
    max-width: 1240px;
    margin: 100px auto;
    display: grid;
    grid-template-rows: repeat(2, 368px);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    grid-gap: 50px;
}

@media screen and (max-width: 1439px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 968px) {
    .cards{
        grid-template-columns: 1fr;
    }

    #title-recipe {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
        padding: 0 10px;
    }

    .left-text h2 {
        font-size: 36px; 
    }

    .left-text p {
        font-size: 18px; 
    }

    #title-recipe a {
        width: fit-content;
        text-align: center;
    }
}

