@media screen and (min-width: 1440px) {
    #home{
        display: flex;
        align-items: center;
        position: relative;
        width: 1240px;
        margin: 0 auto;
    }

    .left{
        width: 610px;
        height: 470px;
        margin-top: 193px;
        gap: 61px;
        position: relative;
    }
    
    .text{
        width: 610px;
        height: 280px;
        
    }

    .title{
        font-size: 64px;
        font-weight: 700;
        line-height: 80px;
        margin-bottom: 37px;
    }

    .subtitle{
        width: 424px;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        color: #7F7D7D;
    }

    .subtitle span {
        color: #F79F1A;
    }

    #recipe-button{
        padding: 30px 40px;
        background-color: #F79F1A;
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.5px;
        border-radius: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-top: 50px;
    }

    #recipe-button:hover{
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        background-color: #e6900f;
    }

    #home img {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -999;
    }
}

@media screen and (max-width: 1439px) {
    #home {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    .left {
        width: 100%;
        margin-top: 100px; 
        gap: 30px;
        position: relative;
        text-align: center;
    }

    .text {
        width: 100%;
        margin-bottom: 40px;
    }

    .title {
        font-size: 60px;
        line-height: 50px;
        margin-bottom: 20px;
        padding: 0 20px;
    }

    .subtitle {
        width: 100%;
        font-size: 20px;
        line-height: 20px;
        color: #7F7D7D;
    }

    #recipe-button {
        padding: 20px 30px;
        font-size: 18px;
        position: relative;
        background-color: #F79F1A;
        color: white;
        text-decoration: none;
        font-weight: 600;
        border-radius: 20px;
    }

    #home img {
        width: 100%;
        position: relative;
        top: 20px;
        left: 0;
        z-index: -1;
    }
}